# Pandas Practice — SOLUTIONS
### Dataset: AusApparalSales4thQrt2020.csv (Australian Apparel Sales Q4 2020)

**⚠️ Try solving the questions yourself first before looking at solutions!**

Open `pandas_practice.ipynb` to attempt the questions, then come here to verify your answers.

In [ ]:
# Setup
import pandas as pd
import numpy as np

df = pd.read_csv('../AusApparalSales4thQrt2020.csv')
df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y')
df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

print(f"Dataset loaded: {df.shape[0]} rows, {df.shape[1]} columns")
df.head()

---
## Section 1: Loading & Exploring Data

**Q1.** Load the CSV file into a DataFrame. Display the first 10 rows and last 5 rows.

In [ ]:
# Q1 Solution
print("First 10 rows:")
display(df.head(10))
print("\nLast 5 rows:")
display(df.tail(5))

**Q2.** Print the shape of the DataFrame. How many rows and columns are there?

In [ ]:
# Q2 Solution
print(f"Shape: {df.shape}")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

**Q3.** Use `.info()` to check column data types and non-null counts.

In [ ]:
# Q3 Solution
df.info()

**Q4.** Use `.describe()` to get summary statistics for numeric columns.

In [ ]:
# Q4 Solution
print(df.describe())
print(f"\nMean Sales: {df['Sales'].mean():.2f}")
print(f"Min Sales: {df['Sales'].min()}")
print(f"Max Sales: {df['Sales'].max()}")

**Q5.** Print all unique values in the `State`, `Group`, and `Time` columns.

In [ ]:
# Q5 Solution
for col in ['State', 'Group', 'Time']:
    print(f"{col}: {df[col].unique()} ({df[col].nunique()} unique)")

**Q6.** Display 10 random rows from the DataFrame using `.sample()`.

In [ ]:
# Q6 Solution
df.sample(10)

**Q7.** Check the data types of each column. Is the `Date` column a datetime type?

In [ ]:
# Q7 Solution
print(df.dtypes)
# Already converted in setup. If not:
# df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y')

---
## Section 2: Selecting & Filtering Data

**Q8.** Select only the `State` and `Sales` columns. Display the first 10 rows.

In [ ]:
# Q8 Solution
df[['State', 'Sales']].head(10)

**Q9.** Select rows 100 to 110 using `.iloc[]`.

In [ ]:
# Q9 Solution
df.iloc[100:111]

**Q10.** Select all rows where `State` is `'WA'`.

In [ ]:
# Q10 Solution
wa_df = df[df['State'] == 'WA']
print(f"WA rows: {len(wa_df)}")
wa_df.head()

**Q11.** Select all rows where `Sales` is greater than 30000.

In [ ]:
# Q11 Solution
high_sales = df[df['Sales'] > 30000]
print(f"Rows with Sales > 30000: {len(high_sales)}")
high_sales.head()

**Q12.** Select all rows where `Group` is `'Women'` AND `Time` is `'Morning'`.

In [ ]:
# Q12 Solution
result = df[(df['Group'] == 'Women') & (df['Time'] == 'Morning')]
print(f"Women + Morning rows: {len(result)}")
result.head()

**Q13.** Select all rows where `State` is either `'WA'`, `'NT'`, or `'SA'` using `.isin()`.

In [ ]:
# Q13 Solution
result = df[df['State'].isin(['WA', 'NT', 'SA'])]
print(f"Rows: {len(result)}")
print(f"States: {result['State'].unique()}")

**Q14.** Select all rows where `Sales` is between 15000 and 35000 (inclusive).

In [ ]:
# Q14 Solution
result = df[df['Sales'].between(15000, 35000)]
print(f"Rows: {len(result)}")
result.head()

**Q15.** Use `.query()` method to find all rows where `Unit > 15` and `Group == 'Kids'`.

In [ ]:
# Q15 Solution
result = df.query("Unit > 15 and Group == 'Kids'")
print(f"Rows: {len(result)}")
result.head()

**Q16.** Find all rows where the `Group` column contains the letter `'e'`.

In [ ]:
# Q16 Solution
result = df[df['Group'].str.contains('e', case=False)]
print(f"Rows: {len(result)}")
print(f"Groups matched: {result['Group'].unique()}")

---
## Section 3: Adding, Modifying & Removing Columns

**Q17.** Add a new column `Revenue_Per_Unit` which is `Sales / Unit`.

In [ ]:
# Q17 Solution
df['Revenue_Per_Unit'] = df['Sales'] / df['Unit']
df[['Unit', 'Sales', 'Revenue_Per_Unit']].head()

**Q18.** Add a new column `Sales_Category` that labels each row as Low, Medium, or High.

In [ ]:
# Q18 Solution
conditions = [
    df['Sales'] < 15000,
    df['Sales'].between(15000, 30000),
    df['Sales'] > 30000
]
choices = ['Low', 'Medium', 'High']
df['Sales_Category'] = np.select(conditions, choices)
print(df['Sales_Category'].value_counts())
df[['Sales', 'Sales_Category']].head(10)

**Q19.** Add a new column `Month` extracted from the `Date` column.

In [ ]:
# Q19 Solution
df['Month'] = df['Date'].dt.month_name()
print(df['Month'].unique())
df[['Date', 'Month']].head()

**Q20.** Rename the column `Unit` to `Units_Sold` and `Sales` to `Total_Sales`.

In [ ]:
# Q20 Solution
df_renamed = df.rename(columns={'Unit': 'Units_Sold', 'Sales': 'Total_Sales'})
print(df_renamed.columns.tolist())
df_renamed.head()

**Q21.** Drop the `Revenue_Per_Unit` column you created in Q17.

In [ ]:
# Q21 Solution
df = df.drop(columns=['Revenue_Per_Unit'])
print(df.columns.tolist())

**Q22.** Reorder the columns so that `Date` is first, followed by `State`, `Group`, `Time`, `Unit`, `Sales`.

In [ ]:
# Q22 Solution
df_reordered = df[['Date', 'State', 'Group', 'Time', 'Unit', 'Sales', 'Sales_Category', 'Month']]
df_reordered.head()

---
## Section 4: Sorting

**Q23.** Sort the DataFrame by `Sales` in descending order. Display the top 10.

In [ ]:
# Q23 Solution
df.sort_values('Sales', ascending=False).head(10)

**Q24.** Sort by `State` (ascending) and then by `Sales` (descending).

In [ ]:
# Q24 Solution
df.sort_values(['State', 'Sales'], ascending=[True, False]).head(10)

**Q25.** Find the top 5 rows with the highest `Unit` values using `.nlargest()`.

In [ ]:
# Q25 Solution
df.nlargest(5, 'Unit')

**Q26.** Find the bottom 5 rows with the lowest `Sales` values using `.nsmallest()`.

In [ ]:
# Q26 Solution
df.nsmallest(5, 'Sales')

**Q27.** Sort by `Date` (chronological order).

In [ ]:
# Q27 Solution
df.sort_values('Date').head(10)

---
## Section 5: Grouping & Aggregation

**Q28.** Find the total sales for each `State`.

In [ ]:
# Q28 Solution
state_sales = df.groupby('State')['Sales'].sum().sort_values(ascending=False)
print(state_sales)
print(f"\nHighest: {state_sales.idxmax()} with ${state_sales.max():,.0f}")

**Q29.** Find the average units sold per `Group`.

In [ ]:
# Q29 Solution
df.groupby('Group')['Unit'].mean()

**Q30.** Find the total sales for each `Time` period.

In [ ]:
# Q30 Solution
df.groupby('Time')['Sales'].sum()

**Q31.** Group by `State` and `Group`, then find the mean sales.

In [ ]:
# Q31 Solution
df.groupby(['State', 'Group'])['Sales'].mean().unstack()

**Q32.** Group by `State` and calculate multiple aggregations on `Sales`.

In [ ]:
# Q32 Solution
df.groupby('State')['Sales'].agg(['mean', 'sum', 'count', 'min', 'max'])

**Q33.** Find the total units sold per state per month.

In [ ]:
# Q33 Solution
df.groupby(['State', 'Month'])['Unit'].sum().unstack()

**Q34.** Use `.transform()` to add a column showing each state's average sales alongside each row.

In [ ]:
# Q34 Solution
df['State_Avg_Sales'] = df.groupby('State')['Sales'].transform('mean')
df[['State', 'Sales', 'State_Avg_Sales']].head(10)

**Q35.** For each `Group`, find the state with the highest average sales.

In [ ]:
# Q35 Solution
avg_sales = df.groupby(['Group', 'State'])['Sales'].mean()
best_state = avg_sales.groupby('Group').idxmax()
for group, (grp, state) in best_state.items():
    print(f"{group}: {state} (avg sales: {avg_sales[(grp, state)]:.2f})")

**Q36.** Calculate the percentage contribution of each `State` to total sales.

In [ ]:
# Q36 Solution
state_total = df.groupby('State')['Sales'].sum()
pct = (state_total / state_total.sum()) * 100
print(pct.round(2))

---
## Section 6: Handling Missing Data

**Q37.** Check if there are any missing values in the DataFrame.

In [ ]:
# Q37 Solution
print(df.isnull().sum())
print(f"\nTotal missing: {df.isnull().sum().sum()}")

**Q38.** Set 50 random `Sales` values to NaN. Count, fill with mean, and fill with ffill.

In [ ]:
# Q38 Solution
df_missing = df.copy()
np.random.seed(42)
random_idx = np.random.choice(df_missing.index, size=50, replace=False)
df_missing.loc[random_idx, 'Sales'] = np.nan

print(f"NaN count: {df_missing['Sales'].isnull().sum()}")

# Fill with mean
df_mean_fill = df_missing.copy()
df_mean_fill['Sales'] = df_mean_fill['Sales'].fillna(df_mean_fill['Sales'].mean())
print(f"After mean fill NaN count: {df_mean_fill['Sales'].isnull().sum()}")

# Fill with ffill
df_ffill = df_missing.copy()
df_ffill['Sales'] = df_ffill['Sales'].ffill()
print(f"After ffill NaN count: {df_ffill['Sales'].isnull().sum()}")

**Q39.** Drop all rows that have any missing values. How many rows remain?

In [ ]:
# Q39 Solution
df_dropped = df_missing.dropna()
print(f"Original rows: {len(df_missing)}")
print(f"After dropna: {len(df_dropped)}")
print(f"Rows removed: {len(df_missing) - len(df_dropped)}")

**Q40.** Fill missing `Sales` values with the mean sales of their respective `State` group.

In [ ]:
# Q40 Solution
df_group_fill = df_missing.copy()
df_group_fill['Sales'] = df_group_fill.groupby('State')['Sales'].transform(
    lambda x: x.fillna(x.mean())
)
print(f"NaN after group fill: {df_group_fill['Sales'].isnull().sum()}")

---
## Section 7: Pivot Tables & Cross Tabs

**Q41.** Create a pivot table showing average `Sales` for each `State` (rows) and `Time` (columns).

In [ ]:
# Q41 Solution
pivot = pd.pivot_table(df, values='Sales', index='State', columns='Time', aggfunc='mean')
print(pivot)

**Q42.** Create a pivot table showing total `Unit` sold for each `Group` (rows) and `State` (columns).

In [ ]:
# Q42 Solution
pd.pivot_table(df, values='Unit', index='Group', columns='State', aggfunc='sum')

**Q43.** Create a cross-tabulation of `State` and `Group`.

In [ ]:
# Q43 Solution
pd.crosstab(df['State'], df['Group'])

**Q44.** Create a pivot table showing average `Sales` by `Month` (rows) and `Group` (columns).

In [ ]:
# Q44 Solution
pd.pivot_table(df, values='Sales', index='Month', columns='Group', aggfunc='mean')

**Q45.** From the pivot table in Q41, which State-Time combination has the highest average sales?

In [ ]:
# Q45 Solution
pivot = pd.pivot_table(df, values='Sales', index='State', columns='Time', aggfunc='mean')
max_val = pivot.max().max()
result = pivot.stack()
best = result.idxmax()
print(f"Highest avg sales: State={best[0]}, Time={best[1]}, Value={result.max():.2f}")

---
## Section 8: Merging & Concatenating

**Q46.** Split into morning and evening DataFrames, then concatenate them back.

In [ ]:
# Q46 Solution
df_morning = df[df['Time'] == 'Morning']
df_evening = df[df['Time'] == 'Evening']
df_concat = pd.concat([df_morning, df_evening])
print(f"Morning: {len(df_morning)}, Evening: {len(df_evening)}")
print(f"Concatenated: {len(df_concat)}")

**Q47.** Split into WA and NT DataFrames, concatenate and reset index.

In [ ]:
# Q47 Solution
df_wa = df[df['State'] == 'WA']
df_nt = df[df['State'] == 'NT']
df_concat = pd.concat([df_wa, df_nt]).reset_index(drop=True)
print(f"WA: {len(df_wa)}, NT: {len(df_nt)}, Combined: {len(df_concat)}")
df_concat.head()

**Q48.** Merge with a state names DataFrame to add full state names.

In [ ]:
# Q48 Solution
state_names = pd.DataFrame({
    'State': ['WA', 'NT', 'SA', 'TAS'],
    'Full_Name': ['Western Australia', 'Northern Territory', 'South Australia', 'Tasmania']
})
df_merged = df.merge(state_names, on='State', how='left')
df_merged[['State', 'Full_Name', 'Sales']].head(10)

**Q49.** Split data by month into 3 DataFrames, concatenate back and verify shape.

In [ ]:
# Q49 Solution
df_oct = df[df['Date'].dt.month == 10]
df_nov = df[df['Date'].dt.month == 11]
df_dec = df[df['Date'].dt.month == 12]

df_back = pd.concat([df_oct, df_nov, df_dec])
print(f"Oct: {len(df_oct)}, Nov: {len(df_nov)}, Dec: {len(df_dec)}")
print(f"Concatenated: {len(df_back)}, Original: {len(df)}")
print(f"Shapes match: {len(df_back) == len(df)}")

---
## Section 9: String Operations & Data Cleaning

**Q50.** Check for leading/trailing spaces in `State` or `Group` columns. Strip them.

In [ ]:
# Q50 Solution
# Check for spaces
for col in ['State', 'Group']:
    has_spaces = (df[col] != df[col].str.strip()).any()
    print(f"{col} has leading/trailing spaces: {has_spaces}")

# Strip them (already done in setup, but here's how)
df['State'] = df['State'].str.strip()
df['Group'] = df['Group'].str.strip()

**Q51.** Convert all values in the `Group` column to uppercase.

In [ ]:
# Q51 Solution
df_upper = df.copy()
df_upper['Group'] = df_upper['Group'].str.upper()
print(df_upper['Group'].unique())

**Q52.** Create a new column `State_Group` that combines `State` and `Group` with a hyphen.

In [ ]:
# Q52 Solution
df['State_Group'] = df['State'] + '-' + df['Group']
print(df['State_Group'].unique()[:10])
df[['State', 'Group', 'State_Group']].head()

**Q53.** Find all rows where `Time` starts with `'M'`.

In [ ]:
# Q53 Solution
result = df[df['Time'].str.startswith('M')]
print(f"Rows: {len(result)}")
print(f"Time values: {result['Time'].unique()}")

**Q54.** Replace `'WA'` with `'Western Australia'` in the `State` column.

In [ ]:
# Q54 Solution
df_replaced = df.copy()
df_replaced['State'] = df_replaced['State'].replace('WA', 'Western Australia')
print(df_replaced['State'].unique())

---
## Section 10: Date & Time Operations

**Q55.** Extract `Year`, `Month`, `Day`, and `Day_Name` into separate columns.

In [ ]:
# Q55 Solution
df['Year'] = df['Date'].dt.year
df['Month_Num'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Day_Name'] = df['Date'].dt.day_name()
df[['Date', 'Year', 'Month_Num', 'Day', 'Day_Name']].head()

**Q56.** Find the total sales for each day of the week.

In [ ]:
# Q56 Solution
day_sales = df.groupby('Day_Name')['Sales'].sum().sort_values(ascending=False)
print(day_sales)
print(f"\nHighest: {day_sales.idxmax()}")

**Q57.** Find the total sales per week number.

In [ ]:
# Q57 Solution
df['Week'] = df['Date'].dt.isocalendar().week.astype(int)
weekly_sales = df.groupby('Week')['Sales'].sum()
print(weekly_sales)

**Q58.** Filter data for only the month of November 2020.

In [ ]:
# Q58 Solution
nov_data = df[(df['Date'].dt.month == 11) & (df['Date'].dt.year == 2020)]
print(f"November 2020 rows: {len(nov_data)}")
nov_data.head()

**Q59.** Find the date with the single highest total daily sales.

In [ ]:
# Q59 Solution
daily_total = df.groupby('Date')['Sales'].sum()
best_date = daily_total.idxmax()
print(f"Date: {best_date}")
print(f"Total Sales: ${daily_total.max():,.0f}")

**Q60.** Calculate the 7-day rolling average of daily total sales.

In [ ]:
# Q60 Solution
daily_sales = df.groupby('Date')['Sales'].sum().sort_index()
rolling_avg = daily_sales.rolling(window=7).mean()
print(rolling_avg.head(10))

---
## Section 11: Apply & Map

**Q61.** Use `.apply()` with a lambda to create a column that doubles the `Sales` value.

In [ ]:
# Q61 Solution
df['Double_Sales'] = df['Sales'].apply(lambda x: x * 2)
df[['Sales', 'Double_Sales']].head()

**Q62.** Use `.apply()` to categorize `Unit` as Low Demand, Medium Demand, or High Demand.

In [ ]:
# Q62 Solution
def categorize_unit(u):
    if u <= 5:
        return 'Low Demand'
    elif u <= 15:
        return 'Medium Demand'
    else:
        return 'High Demand'

df['Demand'] = df['Unit'].apply(categorize_unit)
print(df['Demand'].value_counts())
df[['Unit', 'Demand']].head(10)

**Q63.** Use `.map()` to replace `Time` values: Morning → AM, Afternoon → PM, Evening → EVE.

In [ ]:
# Q63 Solution
time_map = {'Morning': 'AM', 'Afternoon': 'PM', 'Evening': 'EVE'}
df['Time_Short'] = df['Time'].map(time_map)
df[['Time', 'Time_Short']].head(10)

**Q64.** Write a custom function that takes a row and returns `Sales * Unit`. Apply it row-wise.

In [ ]:
# Q64 Solution
def sales_times_unit(row):
    return row['Sales'] * row['Unit']

df['Sales_x_Unit'] = df.apply(sales_times_unit, axis=1)
df[['Sales', 'Unit', 'Sales_x_Unit']].head()

---
## Section 12: Advanced Analysis

**Q65.** Find the top 3 states by total sales for each month.

In [ ]:
# Q65 Solution
monthly_state = df.groupby(['Month', 'State'])['Sales'].sum().reset_index()
top3 = monthly_state.groupby('Month').apply(
    lambda x: x.nlargest(3, 'Sales')
).reset_index(drop=True)
print(top3)

**Q66.** Calculate the month-over-month sales growth percentage for each state.

In [ ]:
# Q66 Solution
monthly = df.groupby([df['Date'].dt.month, 'State'])['Sales'].sum().unstack()
growth = monthly.pct_change() * 100
print("Month-over-month growth (%):")
print(growth.round(2))

**Q67.** Find the state where the difference between max and min daily sales is the largest.

In [ ]:
# Q67 Solution
daily_state = df.groupby(['Date', 'State'])['Sales'].sum().reset_index()
ranges = daily_state.groupby('State')['Sales'].agg(lambda x: x.max() - x.min())
print(ranges.sort_values(ascending=False))
print(f"\nLargest range: {ranges.idxmax()}")

**Q68.** Rank all states by their total sales using `.rank()`.

In [ ]:
# Q68 Solution
state_total = df.groupby('State')['Sales'].sum()
state_total_df = state_total.reset_index()
state_total_df['Rank'] = state_total_df['Sales'].rank(ascending=False)
print(state_total_df.sort_values('Rank'))

**Q69.** Create a new column showing the cumulative sales for each state (sorted by date).

In [ ]:
# Q69 Solution
df_sorted = df.sort_values('Date')
df_sorted['Cumulative_Sales'] = df_sorted.groupby('State')['Sales'].cumsum()
df_sorted[['Date', 'State', 'Sales', 'Cumulative_Sales']].head(10)

**Q70.** Use `pd.cut()` to bin `Sales` into 4 categories: Low, Medium, High, Premium.

In [ ]:
# Q70 Solution
df['Sales_Bin'] = pd.cut(df['Sales'], bins=4, labels=['Low', 'Medium', 'High', 'Premium'])
print(df['Sales_Bin'].value_counts())
df[['Sales', 'Sales_Bin']].head(10)

---
## ✅ All 70 Pandas Solutions Complete!

Go back to `pandas_practice.ipynb` and try any questions you couldn't solve.